.ul-versos {
    padding: 20px;
    margin: 0;
    list-style: none;
    background-color: #d9d9d9;
}

.ul-versos li:not(:last-child) {
    margin-bottom: 16px;
}

#div-response {
    display: none;
}